body {
    font-family: 'Roboto', sans-serif;
}

/* carousel fullscreen */
.carousel-fullscreen .carousel-inner .carousel-item {
    height: 100vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}

/* overlay for better readibility of the caption  */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

.carousel .carousel-item {
    transition-duration: 1.5s;
}

/* demo typography */
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .display-1 {
        font-size: 3.3rem;
    }
    .display-2 {
        font-size: 2.5rem;
    }
    .display-3 {
        font-size: 2rem;
    }
}